.show-pass-icon.hide{
    color: grey;
}

.show-pass-icon:hover{
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #212121;
    height: fit-content;
    padding: 15px 30px;
    margin: 30px;
    max-width: 50%;
}

.login-container h2{
    font-size: 2rem;
}

.input-box{
    display: flex;
    align-items: center;
    border: 1px solid #212121;
    border-radius: 5px;
    flex: 8 1;
}

.input-box:focus-within{
    border-color: #5AB2FF;
}

.input-box input{
    padding: 5px 10px;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 5px;
    font-size: 1.1rem;
}

.show-pass-icon{
    padding: 5px;
}

.btn-login button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #41B06E;
    color: #fafafa;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.05rem;
}

.btn-login button:hover{
    scale: 1.05;
}

.link-text{
    color: #5AB2FF;
    font-weight: bolder;
    cursor: pointer;
}
.link-text:hover{
    color: #5BBCFF;
}

.navigation-msg{
    margin: 10px;
    font-size: 1.2rem;
    text-align: center;
}

.input-box-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.input-discription{
    font-weight: bold;
    flex: 2 1;
}

.input-box textarea{
    border: none;
    width: 100%;
    border-radius: 5px;
    font-size: 1.05rem;
    padding: 5px;
}

.input-box.name{
    flex: 3 1;
}

.input-box.name:nth-of-type(1){
    margin-right: 10px;
}

.input-discription.name{
    flex: 2 1;
}

.input-discription.first-name{
    flex: 2 1;
    padding-right: 3px;
}

.authen{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33,33,33,0.7);
    top: 0;
    left: 0;
    color: #fafafa !important; 
}

.sign-up-header{
    text-align: center;
}

@media only screen and (max-width: 530px) {
    .input-box-container{
        flex-direction: column;
        align-items: flex-start;
    }
    .input-box > input, 
    .input-discription,
    .input-box > textarea{
        font-size: 0.8rem;
    }
    .input-discription.name{
        margin-top: 10px;
    }
    .sign-up-header{
        font-size: 1.5rem !important;
    }

    .navigation-msg,
    .btn-login > button{
        font-size: 0.9rem;
    }

    .login-container{
        width: 100%;
    }

    .input-box{
        width: 100%;
    }
}
  
  /* Mobile Landscape */
  @media only screen and (min-width: 531px) and (max-width: 768px) {
    .input-box-container{
        flex-direction: column;
        align-items: flex-start;
    }
    .input-box > input, 
    .input-discription, 
    .input-box > textarea{
        font-size: 0.8rem;
    }

    .input-discription.name{
        margin-top: 10px;
    }

    .sign-up-header{
        font-size: 1.5rem !important;
    }

    .navigation-msg,
    .btn-login > button{
        font-size: 0.9rem;
    }

    .login-container{
        width: 100%;
    }

    .input-box{
        width: 100%;
    }
  }
  
  /* Tablet Portrait */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .input-box > input, 
    .input-discription,
    .input-box > textarea{
        font-size: 0.8rem;
    }
  }
    