.comment{
    display: flex;
    flex-direction: column;
}

.photo-detail{
    margin-top: 20px;
}

.cmt-date{
    font-style: italic;
}

.cmt-user{
    margin-right: 10px;
    font-weight: bold;
}

.comment{
    margin: 10px 5px;
}

.comment:not(:last-child){
    border-bottom: 1px solid #dbdbdb;
}

.comment span{
    margin-top: 5px;
}

.photos-container{
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px #212121;
    padding: 20px 0;
    flex: 1 1 15%;
    transition: ease-in-out 0.1s;
    position: relative;
    height: fit-content;
    max-width: 75%;
}

.photos-container.preview{
    max-width: 20%;
}

.photos-container.preview:hover{
    transform: scale(1.05);
}

.photos-container.preview:hover::after{
    display: flex;
    content: "See detail";
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgba(33,33,33,0.5);
    color: #fafafa;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
}

.cmt-input{
    margin: 10px 5px;
    display: flex;
    border: 1px solid #212121;
    border-radius: 5px;
}

.cmt-input:focus-within{
    border-color: #5AB2FF;
}

.cmt-input input{
    outline: none;
    border: none;
    flex: 1 1;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.05rem;
}

.cmt-input button{
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 1.2rem;
    margin: 0 5px;
    background-color: unset;
}

.cmt-input button:hover{
    color: #5AB2FF;
}

.photo-time{
    margin: 5px;
}

.photo{
    width: 100%;
    height: auto;
}

.photo.preview{
    height: 150px;
    object-position: center;
    object-fit: cover;
}

.photo-time, .cmt-date{
    font-size: 0.8rem;
    font-weight: bold;
}
.photos-area{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-of-photo{
    margin: 0;
    text-align: center;
    padding: 10px 0;
    box-shadow: 10px 0 5px #212121;
}

.photos-flex-box{
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 88px);
    overflow: scroll;
    justify-content: center;
}

.back{
    position: absolute;
    display: flex;
    top: 70px;
}

.back-icon{
    font-size: 1.5rem;
    transition: 0.1s;
}

.back-icon:hover{
    color: #5AB2FF;
    cursor: pointer;
}

.del-btn{
    position: absolute;
    right: 0;
    border: none;
    background-color: unset;
    font-size: 1.1rem;
}

.del-btn:hover{
    cursor: pointer;
    border-radius: 3px;
    color: red;
}

/* Mobile Portrait */
@media only screen and (max-width: 530px) {
    .photos-container{
        min-width: 40%;
    }
}
  
  /* Mobile Landscape */
  @media only screen and (min-width: 531px) and (max-width: 768px) {
    .photos-container{
        min-width: 45%;
    }
  }
  
  /* Tablet Portrait */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .photos-container{
        min-width: 30%;
    }
  }
  
  /* Tablet Landscape và Desktop Small */
  @media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .photos-container{
        min-width: 22%;
    }
  }
